*, *::before, *::after {
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}


body {
  margin: 0;
	padding: 0;
  height: 100%;
  background-color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.grid {
  margin: 0 auto 20px;;
  width: 0;
}
.controls {
  display: flex;
  justify-content: center;
}
.controls button {
  margin: 0 5px;
  border: 1px solid grey;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.controls button:active {
  background-color: inherit;
}
.controls button:focus {
  background-color: inherit;
}

.row {

}
.cell {
  padding: 10px;
  height: 1px;
  width: 1px;
  border: 1px solid black;
}

.cell.alive {
  background-color: green;
}