*, *::before, *::after {
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}


body {
  margin: 0;
	padding: 0;
  height: 100%;
  background-color: #000;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#game {
  padding: 10px 0 50px;
}

.grid {
  margin: 0 auto 20px;
  width: 0;
}
.controls {
  display: flex;
  justify-content: center;
}
.controls button {
  margin: 0 5px;
  border: 1px solid #26ff00;
  background-color: transparent;
  color: #26ff00;
  cursor: pointer;
}
.controls button:active {
  background-color: inherit;
}
.controls button:focus {
  background-color: inherit;
}

.row {

}
.cell {
  padding: 8px;
  height: 8px;
  width: 8px;
  border: 1px solid white;
}

.cell.alive {
  background-color: #26ff00;
}